.section {
    background-color: #fff;
    margin: 8px 0;
}

.section__container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    border-bottom: 1px solid #eee;
    padding: 20px;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: auto;
    }
}

.section__header {
    margin: 0;
    padding: 20px;
    font-size: 20px;
}

.section__header--special {
    padding: 0;
}

.section__button {
    border: none;
    background-color: #ffffff00;
    color: teal;
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

.section__button:active {
    color: hsl(180, 100%, 35%);
}

.list {
    padding: 20px;
    list-style-type: none;
}

.list__item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.list__task {
    flex-wrap: wrap;
    word-break: break-word;
    flex-grow: 1;
}

.list__task--done {
    text-decoration: line-through;
}

.list__button {
    background-color: #008800;
    border: none;
    width: 34px;
    height: 34px;
    margin: 0 12px;
    color: #fff;
    flex-shrink: 0;
}

.list__button:hover {
    background-color: hsl(120, 100%, 31%);
}

.list__button:active {
    background-color: hsl(120, 100%, 34%);
}

.list__button--remove {
    background-color: #ff0000;
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 55%);
}

.list__button--remove:active {
    background-color: hsl(0, 100%, 58%);
}