.section {
    background-color: #fff;
    margin: 10px 0;
}

.section__container {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid #eee;
}

.section__header {
    margin: 0;
    padding: 20px;
    font-size: 20px;
}

.section__header--special {
    padding: 0;
}

.section__buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: auto;
    }
    
    .section__buttons {
        grid-template-columns: 1fr;
        padding-top: 5px;
    }
}


.section__button {
    border: none;
    background-color: #ffffff00;
    color: teal;
}

.section__button:hover {
    color: hsl(180, 100%, 35%);
}

.section__button:active {
    color: hsl(180, 100%, 40%);
}